{% extends 'base.html.twig' %}

{% block title %}

	{{ parent() }}-Chap1.1
	
{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}	
	<h3>
		<a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony/symfony-un-framework-php">
			Chap 1.1 - Symfony, un framework PHP
		</a>
	</h3>
	
	<p>Notions:</p>
	<ul>
		<li><a href="https://openclassrooms.com/informatique/cours/concevez-votre-site-web-avec-php-et-mysql">
			Concevez votre site web avec PHP et MySQL par Mathieu Nebra
		</a></li>
		<li><a href="https://openclassrooms.com/informatique/cours/concevez-votre-site-web-avec-php-et-mysql/la-programmation-orientee-objet-6">
			La programmation orientée objet par Mathieu Nebra)
		</a></li>
		<li><a href="https://openclassrooms.com/informatique/cours/les-espaces-de-noms-en-php">
			Les espaces de nom par Victor Thuillier)
		</a></li>
	</ul>
	<p>Autres framworks: Zend Framework, CodeIgniter, CakePHP, etc.</p>
	<p>Vérifier la version de PHP:</p>
	<pre>php -v</pre>
	<p>En résumé</p>
	<ul>
		<li>Le mot « framework » signifie « cadre de travail » en français.</li>
		<li>L'objectif principal d'un framework est d'améliorer la productivité des développeurs qui l'utilisent.</li>
		<li>Contrairement aux CMS, un framework est destiné à des développeurs, et non à des novices en informatique.</li>
		<li>L'apprentissage d'un framework est un investissement : il y a un certain effort à fournir au début, mais les résultats se récoltent ensuite sur le long terme !</li>
		<li>Symfony est un framework PHP très populaire, français, et très utilisé dans le milieu des entreprises.</li>
	</ul>

		
{% endblock %}	