{% extends 'base.html.twig' %}

{% block title %}Symfony{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}
	<h1>Symfony</h1>
	<p>Lien vers la 
		<a href="https://symfony.com/doc/current/index.html" target="_blank">
			documentation de Symfony
		</a>
		.
	</p>
	
	<p>
		<a href="{{ path('memo_twig') }}">Mémo Twig</a>
	</p>
	
	<p>
		<a href="{{ path('memo_git') }}">Mémo Git</a>
	</p>
	
	<p>
		<a href="https://github.com/bbouchotte/OCSymfony">
			https://github.com/bbouchotte/OCSymfony
		</a>
	</p>
	<p>
		<a href="{{ path('oc_platform_home') }}">
			OC - Platform
		</a>
	</p>
		
{% endblock %}
		
		