<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('homepage') }}">OC - Symfony 3</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
      <li><a href="{{ path('part1') }}">Partie 1</a></li>
      <li><a href="{{ path('homepage') }}">Partie 2</a></li>
    </ul>
  </div>
</nav>