{% extends 'base.html.twig' %}

{% block title %}

	{{ parent() }}-Chap3.6
	
{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}	
	<h3>
		<a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony/tp-consolidation-de-notre-code">
			Chap 3.6 -   TP : Consolidation de notre code 
		</a>
	</h3>
	
	
	<h4>En résumé</h4>
	<ul>
		
	</ul>	
	
{% endblock %}
	
	