{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Suppression d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

	<p>L'annonce a bien été supprimée</p>

{% endblock %}
