{% extends 'base.html.twig' %}

{% block title %}

	{{ parent() }}-Chap4.3
	
{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}	
	<h3>
		<a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony/securite-et-gestion-des-utilisateurs-1">
			Chap 4.3 - Sécurité et gestion des utilisateurs 
		</a>
	</h3>
	
	

{% filter escape %}{% verbatim %}{% endverbatim %}{% endfilter %}
	
	<h4>En résumé</h4>
	<ul>
		
	</ul>

		
{% endblock %}	