{% extends 'base.html.twig' %}

{% block title %}

	{{ parent() }}-Chap4.4
	
{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}	
	<h3>
		<a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony/les-services-utilisation-poussee-1">
			Chap 4.4 - part4_3.html.twig 
		</a>
	</h3>
	
	
{% filter escape %}{% verbatim %}{% endverbatim %}{% endfilter %}
	
	<h4>En résumé</h4>
	<ul>
	</ul>

		
{% endblock %}	