{% extends 'base.html.twig' %}

{% block title %}

	{{ parent() }}-Chap2.5
	
{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}	
	<h3>
		<a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony/installer-un-bundle-grace-a-composer-2">
			Chap 2.5 - Installer un bundle grâce à Composer
		</a>
	</h3>
	



	<h4>En résumé</h4>
	<ul>
	</ul>

		
{% endblock %}	