{% extends 'base.html.twig' %}

{% block title %}

	{{ parent() }}-Chap2.4
	
{% endblock %}

{% block body %}

	{{ parent() }}

{% endblock %}

{% block body_content %}	
	<h3>
		<a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony/le-moteur-de-templates-twig-1">
			Chap 2.4 - Le moteur de templates Twig
		</a>
	</h3>
	
	<p>
		<a href="">
			Documentation officielle
		</a>
	</p>
	
	<h4></h4>

	
		
	
	
	<h4>En résumé</h4>
	<ul>
		<li></li>
	</ul>

		
{% endblock %}	